.parkThumbnail {
    max-height: 9rem;
    margin: auto;
    width: unset;
    max-width: 100%;
}

.park-card {
    max-height: 25em;
}

.parkText {
    max-height: 6rem;
    min-height: 6rem;
    overflow: hidden;
}